.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button {
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 15px;
    max-width: fit-content;
    cursor: pointer;
}

input {
    padding: 10px 20px;
    border-radius: 15px;
}

.button:hover, input:hover, textarea:hover {
    background-color: rgba(0, 0, 0, 0.1);
}