.body {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 40px;
    padding-left: 40px;
    padding-right: 40px;
}