.articke {
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.buttons *:hover {
    background-color:rgb(127, 127, 230);
}

.buttons * {
    border: 1px solid black;
    padding: 5px 15px;
    border-radius: 15px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 1px;
    z-index: 5;
    overflow-wrap: break-word;
}
